force-app/main/default/flows/Launch_Data_Processing_Engines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Launch_DG</name>
        <label>Launch DG</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>GiftDesignation_CLONE</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Launch_OS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CURRENT_CALENDAR_YEAR</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_CALENDAR_YEAR</name>
            <value>
                <elementReference>OneYearAgo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GiftDesignation_CLONE</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Launch_DonorGiftSummary</name>
        <label>Launch DonorGiftSummary</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>DonorGiftSummary_CLONE</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Launch_DG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CURRENT_CALENDAR_YEAR</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_CALENDAR_YEAR</name>
            <value>
                <elementReference>OneYearAgo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_TWO_CALENDAR_YEAR</name>
            <value>
                <elementReference>TwoYearsAgo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DonorGiftSummary_CLONE</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Launch_OS</name>
        <label>Launch OS</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>OutreachSummary_CLONE</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>OutreachSummary_CLONE</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>OneYearAgo</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-1, MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>TwoYearsAgo</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-2, MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Launch Data Processing Engines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launch Data Processing Engines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Launch_DonorGiftSummary</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-30</startDate>
            <startTime>07:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
